<% include includes/header.ejs %>
	<% _.each(products, function(cat) { %>
		<% _.each(cat.categories, function(subcat) { %>
			<% if(subcat.id == subcategory) { %>
			<div class="breadcrumbs">
	            <ul>
	                <li><a href="/">Home</a></li>
	                <li><a href="/category/<%= cat.id %>/<%= subcat.id %>/<%= subcat.page_title %>"> \ <%=subcat.id%></a></li>
	            </ul>
	        </div>
			<div class="container text-center container-subcat">
				<% _.each(subcat.categories, function(item) { %>
					<a href="/products/<%=subcat.id%>/<%= item.id %>/<%= item.page_title %>"><h3> <%= item.name %> </h3></a>
					<p> <%= item.page_description %></p>
					<% if(item.image) { %>
						<img src="/images/<%= item.image %>" alt="">
					<% } %>
				<% }); %>
			</div>
			<% } %>
		<% }); %>
	<% }); %>
<% include includes/footer.ejs %>