<% include includes/header.ejs ;%>
        <!-- carousel ends, header ends -->
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div class="main-content">
            <% _.each(menu_items, function(topC) { %>
                <div class="category-heading">
                    <h1><%= topC.name %></h1>
                    <p><%= topC.page_description %></p>
                </div>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                <% } %>
                <div>
                    <ul class="submenu">
                        <% _.each(topC.categories, function(subC) { %>
                            <li>
                                <div class="subcategory-heading text-center">
                                    <a href="/category/<%= topC.id %>/<%= subC.id %>/<%= subC.page_title %>"><h2><%= subC.name %></h2></a>
                                    <p><%= subC.page_description %></p>
                                </div>
                                <% if (subC.image) { %>
                                <div class="image-container text-center">
                                    <img src="/images/<%= subC.image %>">
                                </div>
                                <% } %>
                            </li>
                        <% }); %>                    
                    </ul>
                </div>    
            <% }); %>
        </div>
<% include includes/footer.ejs ;%>