<% include includes/header.ejs %>
<% var parentLink,link,title,subcatParent,subcatLink,subcatTitle; %>
<% for(let i=0;i<menu_items.length;i+=1) { %>
	<% for(let j=0;j<menu_items[i].categories.length;j+=1) { %>
		<% for(let k=0;k<menu_items[i].categories[j].categories.length;k+=1) { %>
				<% if(menu_items[i].categories[j].categories[k].id == parent ) { %>
					<% parentLink = menu_items[i].categories[j].categories[k].parent_category_id%>
					<% link = menu_items[i].categories[j].categories[k].id%>
					<% title = menu_items[i].categories[j].categories[k].page_title%>
					<% subcatParent = menu_items[i].categories[j].parent_category_id%>
					<% subcatLink = menu_items[i].categories[j].id%>
					<% subcatTitle = menu_items[i].categories[j].page_title%>
				<% } %>	
		<% } %>
	<% } %>
<% } %>
<div class="breadcrumbs">
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/category/<%=subcatParent%>/<%=subcatLink%>/<%=subcatTitle%>"> \ <%=subcatLink%></a></li>
	       <li><a href="/products/<%=parentLink%>/<%=link%>/<%=title%>"> \ <%=products[0].primary_category_id%> </a></li>
	       <li><a href="#"> \ <%=products[0].name%></a></li>
        </ul>
    </div>
	<div class="container">
		<% _.each(products, function(product) { %> 
			<div class="row product-page-wrapper">
				<div class="col-4">
					<% for (var i=0; i<product.image_groups.length; i+=1) { %>
						<% if(product.image_groups[i].view_type == 'large') { %>
							<img src="/images/<%= product.image_groups[i].images[0].link %>" alt="">
							<% break;%>
						<% } %>
					<% } %>
				</div>
				<div class="col-8 product-description-full">
					<h2><%= product.name %></h2>
					<p><%- product.long_description %></p>
					<div>
						<% _.each(product.variation_attributes, function(attr) { %>
							<% if(attr.name == 'Size') { %>
								<span><%= attr.name %>: 
									<div class="btn-group" data-toggle="buttons">
										<% _.each(attr.values, function(value) { %>
							                <label class="btn btn-default product-variations">
							                    <input type="radio" class="asd" name="" value="<%= value.value%>" /> <%= value.value%>
							                </label> 
										<% }); %>
									</div>
								</span>
							<% } %>
						<% }); %>
					</div>
					<span>Color: </span>
					<div class="btn-group" data-toggle="buttons">
						<% _.each(product.image_groups, function(product_img) { %>
							<% if(product_img.view_type == 'swatch' && product_img.hasOwnProperty('variation_value')) { %>
				                <label class="btn btn-default product-variations">
				                    	<input type="radio" class="swatch-colors" name="" 
				                    	value="<%=product_img.variation_value%>" /> 
				                    	<img src="/images/<%=product_img.images[0].link%>" alt="">	
				                </label> 
			                <% } %>
						<% }); %>
					</div>
					<div class="span-wrapper">
						<span class="span-value">
							<%= product.price %>
						</span>
						<select name="" id="currencies">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="AED">AED</option>
							<option value="BGN">BGN</option>
							<option value="BRL">BRL</option>
							<option value="CAD">CAD</option>
							<option value="EGP">EGP</option>
							<option value="GBP">GBP</option>
							<option value="HUF">HUF</option>
							<option value="INR">INR</option>
							<option value="JPY">JPY</option>
							<option value="KRW">KRW</option>
						</select>
					</div>
					<a href="" class="btn btn-primary">Buy now</a>
				</div>
			</div>
			<div class="row">
					<div class="col-12">
						<% _.each(product.image_groups, function(product_img) { %>
							<% if(product_img.view_type == 'small' && product_img.hasOwnProperty('variation_value')) { %>
								<img class="product-small-images" src="/images/<%= product_img.images[0].link  %>" alt="">
							<% } %>
						<% }); %>
					</div>
				</div>
		 <% }); %>
 	</div>
<% include includes/footer.ejs %>