<% include includes/header.ejs %>
<% var parentLink,link,title; %>
<% for(let i=0;i<menu_items.length;i+=1) { %>
	<% for(let j=0;j<menu_items[i].categories.length;j+=1) { %>
		<% if(menu_items[i].categories[j].id == parent) { %>
			<% link = menu_items[i].categories[j].id %>
			<% parentLink = menu_items[i].categories[j].parent_category_id %>
			<% title = menu_items[i].categories[j].page_title %>
		<% } %>
	<% } %>
<% } %>
	<div class="breadcrumbs">
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/category/<%=parentLink%>/<%=link%>/<%=title%>"> \ <%=parent%></a></li>
	       <li><a href=""> \ <%=breadcrumb%></a></li>
        </ul>
    </div>
	<div class="container">
		<div class="row">
			<% _.each(products, function(item) { %>
				<div class="col-6 product-wrapper">
					<div class="row">
						<h5 class="product-name"><%= item.name %></h5>
					</div>
					<div class="row">
						<div class="col-5 image-wrapper">
							<% for (var i=0; i<item.image_groups.length; i+=1) { %>
								<% if(item.image_groups[i].view_type == 'medium') { %>
									<img src="/images/<%= item.image_groups[i].images[0].link %>" alt="">
									<% break;%>
								<% } %>
							<% } %>
						</div>
						<div class="col-7 product-description">
							<p><%- item.short_description %></p>
							<span class="span font-weight-bold"><%= item.price %><span>&nbsp;<%=  item.currency %></span></span>
							<a href="/product/<%= item.primary_category_id %>/<%= item.name %>" class="btn btn-primary">More info</a>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
<% include includes/footer.ejs %>