body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
	border-radius: 0 0 5px 5px;
	height: 50px;
}

.website-wrapper {
	margin: 50px 0;
}

.breadcrumbs {
	background-color: #D9534F;
	border-radius: 0 0 5px 5px;
}

.breadcrumbs ul {
	padding:10px 15px;
}

.breadcrumbs ul li {
	display: inline;
	list-style-type: none;
}

.breadcrumbs ul li a {
	color: #000;
}
.breadcrumbs ul li a:hover {
	text-decoration: none;
}

.main-content {
	background-color: #FAFAFA;
}

.main-menu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.submenu li {
	list-style-type: none;
	margin-right: 45px;
	padding: 0;
}

.product-variations:hover {
	background-color: #D9534F;
	color: #FFF;
}

.category-heading {
	margin: 0 auto;
	padding: 15px 15px;
	border: 3px solid;
	border-color: transparent #D9534F #D9534F transparent;
}

.carousel-item img {
	margin: 0 auto;
	height: 250px;
	width: 100%;
}

.subcategory-heading {
	padding: 15px;
}

.footer-wrapper {
	width: 100%;
	background-color: #D9534F;
}

.footer-inner {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}

.footer-menu li {
	list-style-type: none;
}

.container-subcat {
	background-color: #FAFAFA;
}

.container-subcat h3{
	margin: 10px 0;
}

.container-subcat p {
	width: 80%;
	margin: 15px auto;
}

.product-name {
	margin-left:15px;
}

.product-wrapper {
	padding:10px;
	margin:10px 0;
}

.product-description {
	width: 100%;
	padding:20px 40px 20px 20px;
}
.product-description p{
	width:100%;
	margin: 0 auto;
} 

.span {
	position: absolute;
	bottom: 0;
}

.product-description a {
	position: absolute;
	right: 0;
	bottom: 0;
}

.image-wrapper {
	padding: 20px;
}

.image-wrapper img {
	height: 100%;
}

.product-page-wrapper {
	margin:15px auto;
}

.product-description-full a {
	position: absolute;
	bottom: 0;
	right: 50px;
}

.span-wrapper {
	position: absolute;
	bottom: 0;
	right: 150px;
}