</div>
    <div class="footer-wrapper">
        <div class="footer-inner">
            <div class="row text-center">
                <div class="col">
                    <div class="logo-wrapper">
                        <h4 id="logo">2017 Fashion Store</h4>
                        <h6>All rights reserved</h6>
                    </div>
                </div>
                <div class="col">
                    <ul class="footer-menu">
                        <li><h4>Very</h4></li>
                        <li>Very</li>
                        <li>Very</li>
                        <li>Very</li>
                        <li>Very</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="footer-menu">
                        <li><h4>Useful</h4></li>
                        <li>Useful</li>
                        <li>Useful</li>
                        <li>Useful</li>
                        <li>Useful</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="footer-menu">
                        <li><h4>Links</h4></li>
                        <li>Links</li>
                        <li>Links</li>
                        <li>Links</li>
                        <li>Links</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>